* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/img_tree.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}